.header {
  display: block;
  position: relative;
  background-color: rgb(158, 143, 132);
  height: 150px;
  box-shadow: 0 0 15px 7px rgb(116, 99, 87);
}
  
.header__logo {
  font-size: 34px;
  font-weight: 900;
  color: rgb(235, 186, 28);
  position: absolute;
  left: 50%;
  top: 40%;
  border: 3px solid rgb(235, 186, 28);
  border-radius: 50%;
}